// This is only an example, your path may be different
@use '../../../node_modules/sass-true' as *;

$componentPrefix: '--xp';
$blockPrefix: '--b';

$breakpoints: ();
$global: ();
$alias: ();
$tokens: (
	default: (
		blocks: (
			'non-empty-block': (
				color: 'red',
			),
		),
	),
);

@import 'index';


@include test-module('Helpers') {
	@include test('block-properties') {
		@include test('empty block') {
			@include assert {
				@include output {
					@include block-properties('no-block');
				}

				@include expect {}
			}
		}

		@include test('non empty block') {
			@include assert {
				@include output {
					@include block-properties('non-empty-block');
				}

				@include expect {
					color: var(--b-non-empty-block-color);
				}
			}
		}

	}
}
