.l-grid {
  @include component-properties('grid');

	display: grid;
}

.l-grid-item {
	@each $breakpoint, $breakpointValue in $breakpoints {
		@media only screen and ($breakpointValue) {
			--grid-column-start: var(--grid-column-start--#{$breakpoint});
		}
	}

	grid-column-start: var(--grid-column-start);
}
