@use '../../scss/theme';

.l-grid {
	@include theme.component-properties('grid');

	display: grid;
}

.l-grid-item {
	@each $breakpoint, $breakpointValue in theme.get-breakpoints() {
		@media only screen and ($breakpointValue) {
			--grid-column-start: var(--grid-column-start--#{$breakpoint});
		}
	}

	grid-column-start: var(--grid-column-start);
}


.l-grid-item[alignment='start'] {
	align-self: start;
}

.l-grid-item[alignment='center'] {
	align-self: center;
}

.l-grid-item[alignment='end'] {
	align-self: end;
}
