// Global Tokens
$global: (
  'gray-50': rgb(218 218 218),
  'gray-100': rgb(87 87 87),
  'gray-900': rgb(25 25 25),

  'blue-500': rgb(79 93 117),
  'blue-600': rgb(80 103 127),

  'spacing-25': 4px,
  'spacing-50': 8px,
  'spacing-100': 16px,
  'spacing-150': 24px,
  'spacing-200': 32px,

  'font-weight-100': 100,
	'font-weight-200': 200,
	'font-weight-300': 300,
  'font-weight-400': 400,
	'font-weight-500': 500,
	'font-weight-600': 600,
  'font-weight-700': 700,
	'font-weight-800': 800,
  'font-weight-900': 900,

  'font-size-100': 12px,
	'font-size-200': 14px,
	'font-size-300': 16px,
  'font-size-400': 18px,
	'font-size-500': 22px,
	'font-size-600': 26px,
  'font-size-700': 30px,
	'font-size-800': 36px,
  'font-size-900': 44px,
);


// Alias Tokens
$alias: (
  'primary-color': var(--global-blue-500),
  'primary-font-family': 'Arial',
  'secondary-font-family': 'Times New Roman',

	'font-size-tiny': var(--global-font-size-100),
	'font-size-small': var(--global-font-size-200),
	'font-size-body': var(--global-font-size-300),
);


// Component Tokens
$components: (
	'body': (
		'font-family': var(--primary-font-family),
		'font-size': var(--font-size-body),
	),
	'caption': (
		'color': var(--global-gray-100),
		'font-size': var(--font-size-small),
	),
  'date': (
    'background-color': transparent,
    'color': inherit,
    'font-weight': var(--global-font-weight-400),
  ),
	'heading': (
		'font-size': inherit,
		'font-weight': var(--global-font-weight-700),
		'line-height': 1.5,
	),
	'image': (
		'aspect-ratio': '16 / 9',
	),
  'link': (
    'color': inherit,
    'font-size': inherit,
    'text-decoration': none,
  ),
	'paragraph': (
		'font-size': var(--font-size-body),
		'line-height': 1.5,
	),
  'link-hover': (
    'color': var(--global-blue-500),
    'text-decoration': underline,
  ),
  'overline': (
    'background-color': transparent,
    // 'border-color': 'transparent transparent var(--primary-color) transparent',
    // 'border-style': 'solid',
    // 'border-width': '0 0 1px 0',
    'font-weight': var(--global-font-weight-700),
    'color': inherit,
  ),
	'grid': (
		'gap': var(--global-spacing-100),
		'grid-template-columns': 'repeat(12, 1fr)'
	),
	'stack': (
		'gap': var(--global-spacing-100),
	),
);

// Blocks Tokens
$block: (
	'promo': (
		// 'background-color': red,
		'background-color': var(--global-blue-500),
		'components': (
			'heading': (
				'font-size': var(--global-font-size-600),
			),
			'stack': (
				'gap': 1rem,
			),
		),
	),
  // 'list': (
  //   'components': (
  //     'date': (
  //       'font-weight': 900,
  //     )
  //   )
  // ),
  // 'links-bar': (
  //   'font-size': 14px,
  //   'font-family': 'var(--primary-font-family)',
  //   'margin-bottom': var(--global-spacing-150),
  // )
);


@import '../src/_index.scss';
