.l-stack {
	@include component-properties('stack');

	display: flex;
}

.l-stack[data-style-direction='vertical'] {
	flex-flow: column wrap;
}

.l-stack[data-style-direction='horizontal'] {
	flex-direction: row;
}

.l-stack[data-style-alignment='start'] {
	justify-content: flex-start;
}

.l-stack[data-style-alignment='center'] {
	justify-content: center;
}

.l-stack[data-style-alignment='end'] {
	justify-content: flex-end;
}
