@use '../../scss/theme';

.l-stack {
	@include theme.component-properties('stack');

	display: flex;
}

.l-stack[data-direction='vertical'] {
	flex-flow: column wrap;
}

.l-stack[data-direction='horizontal'] {
	flex-direction: row;
}

.l-stack[data-alignment='start'] {
	justify-content: flex-start;
}

.l-stack[data-alignment='center'] {
	justify-content: center;
}

.l-stack[data-alignment='end'] {
	justify-content: flex-end;
}
